@font-face {
    font-family: 'Roboto-regular', sans-serif;
    src: url('../fonts/Roboto-regular.woff2') format('woff2'),
        url('../fonts/Roboto-regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}